@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h2 class="employee-picker-label text-dark">Pick an employee:</h2>
    <select id="employeePicker" class="form-control">
        <option value="">Select an Employee</option>

    </select>
</div>