@model RoltaTimeSheet.Models.HomeModel


@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/LoginScript.js"></script>
<link rel="stylesheet" href="~/Content/loginstyles.css">
<div class="content">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Login to Rolta Timesheet</h1>

        <form class="d-flex flex-column justify-content-center" action="@Url.Action("Login", "Home")">
            <div class="form-container"> 
                <!-- Email input -->
                <div class="form-outline mb-4">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
                <div class="form-outline mb-4">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "password" })
                        <button type="button" class="btn btn-link input-group-text" id="showPasswordToggle">
                            <i class="fa fa-eye" id="eyeIcon"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-center"  method="post" action="@Url.Action("Login", "Home")">
                    <button type="submit" class="btn btn-success btn-login">Login</button>
                </div>
            </div>
        </form>

    </div>
</div>





<script>
    const passwordToggle = document.getElementById('showPasswordToggle');
    const passwordInput = document.getElementById('Password');
    const eyeIcon = document.getElementById('eyeIcon');

    passwordToggle.addEventListener('click', function () {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    });

</script>